body{
	margin: 0;
	padding: 0;
	background:url(../pic/pic1.jpg);
	background-size:cover;
	color:#FFF;
	font-family: sans-serif;

}
.pageContainer{
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgba(51,51,51,0.8);
	border-radius:1px;
	
}

.pageContainer>header{
	margin: 32px 0;
}

.mainNav{
	
}

.mainNav ul{
	text-align: center;
	
}

.mainNav li{
	display: inline-block;
	padding: 20px;
}

.mainNav ul li a {
	font-size:36px;
	color:#FFF;
}

.mainNav ul li a:hover {
	list-style-type:none;
	font-size:36px;
	color:#F90;
}
#check{
	border:solid 1px #000;
	overflow:hidden;
}

#check .user, #check .problem{
	background-color: rgba(51,51,51,0.8);
}

#check label{
	width: 50%;
	float: left;
}

#check section{
	padding:8px 16px;
}

#check textarea, #check input[type="text"]{
	width: 50%;
}
#check textarea{
	height: 100px;
}

#check footer {
}

#check footer input{
	margin: 8px 8px 8px 32px;
}

@media print{    
    .no-print, .no-print *{
        display: none !important;
    }
}
